*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('./img/backgound.png');
    background-size: cover;
    background-position: center;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #aeba8a;
    margin: 0;
    padding: 0;
}
.container{
   padding: 10px 10%;
}
.header-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 5px 60px 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-content.scrolled {
    background-color: #aeba8a; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    margin: 10px 0;
    width: 80px;
    height: 40px;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d86a47;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    margin-left: 35px;
    font-size: 25px;
    color: #FFFDEC;
}
.header-text h1{
    font-size: 40px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #d86a47;
}
/* ---------about section--------- */
#about{
    padding: 80px 0;
    color: #FFFDEC;
    font-size: 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.about-col-1{
    flex-basis: 33%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 50px;
    color: #d86a47;
    font-weight: 600;
}
.about-col-2 p{
    font-size: 20px;
    margin-top: 20px;
    width: 80%;
}
.tab-titles{
    display: flex;
    margin:30px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d86a47;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tab-contents ul li span{
    color: #d86a47;
    font-size: 18px;
    font-weight: 600;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------services section--------- */
#services{
    padding: 20px 0;
}
.services-list{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}
.service{
    width: 30%;
    height: 330px;
}
.services-list p{
    font-size: 18px;
    color: #FFFDEC;
    margin-top: 10px;
    width: 80%;
    line-height: 1.5;
}
.services-list h2{
    font-size: 30px;
    color: #FFFDEC;
    margin-bottom: 15px;
    font-weight: 500;
}
.services-list a{
    text-decoration: none;
    color: #FFFDEC;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}
.service-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.services-list div{
    background: #c2cca2;
    padding: 40px;
    font-weight: 300;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s, transform 0.5s;
    width: 800px;
}
.services-list div:hover{
    background-color: #d86a47;
    transform: translateY(-10px);
}
/* ---------projects section--------- */
.sub-title2{
    font-size: 50px;
    color: #d86a47;
    font-weight: 600;
    margin-top: 100px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 25px;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgba(174, 186, 138, 1) 0%, rgba(174, 186, 138, 0.6) 30%, rgba(13, 44, 0, 0.9) 100%);
    border-radius: 10px;
    color: #e2e2e2;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}
.layer a{
    margin-top:30px;
    color: #FFFDEC;
    text-decoration: none;
    font-size: 12px;
    line-height: 60px;
    background-color: #D86A47;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.link{
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.work:hover .layer{
    height: 100%;
}
.layer p{
    font-size: 18px;
    height: 30%;
    padding-top: 0px;
    margin-bottom: 10px;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #d86a47;
    padding: 12px 40px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFDEC;
    font-weight: 400;
    font-size: 20px;
    background: #d86a47;
    transition: backgroung 0.5s;
}
.btn:hover{
    background: #e3866ae8;
}
/* ---------contact section--------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    font-size: 25px;
    color: #FFFDEC;
    margin-top: 20px;
    width: 70%;
    line-height: 1.5;
}
.link-contact{
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    color: #FFFDEC;
    font-size: 30px;
    margin-right: 20px;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #d86a47;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #d86a47;
}
.btn2:hover{
    background: #e3866ae8;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 90%;
    border: 0;
    outline: none;
    background: #FFFDEC;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    color: #d86a47;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #c6d7ae;
    font-weight: 300;
    margin-top: 20px;
}
.heart{
    width: 20px;
    height: 20px;
    padding: 3px 3px 0 0;
    
}
#msg{
    color: #d86a47;
    margin-top: -40px;
    display: block;
    font-size: 20px;
    font-weight: 600;
}


/*#8b6439*/